body {
    margin: 0;
    padding: 0;
    background-color:#2D2E2E
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;;
    background-color: #82A3A1;
    padding: 10px;
    border-radius: 100px;
    text-align: right;
}

nav {
    position:sticky;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 2px;
    list-style-type: none;
    background-color: #9FC490;
    margin: 0;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 200px;
}

nav li {
    padding: 40px;
    background-color: #82A3A1;
    margin: 0 5px;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color:  rgb(224, 229, 235);
}

nav li:hover {
    background-color: #B1CBBB;
}

h1 {
 font-family: "Bodoni Moda", serif;
 font-size: 5rem;
 color: darkslategray;
}

h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    color: darkslategray;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: slategray;
}

#block1 {
    line-height: 40px;
    padding: 40px;
    background-color:rgb(233, 237, 241);
    text-align: right;
    padding-bottom: 70px;
    border-radius: 100px;
    margin: 20px;
}

#block1 img {
    float: left;
    border-radius: 40px;
    width: 500px;
}

#block2 {
    line-height: 40px;
    padding: 40px;
    background-color: rgb(224, 229, 235);
    padding-bottom: 70px;
    border-radius: 100px;
    margin: 20px;
}

#block2 img {
    float: right;
    margin: 0 0 0 40px;
    border-radius: 40px;
}

#block2 ul {
    list-style-type: square;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: slategray;
}

#block3 {
    line-height: 30px;
    padding: 40px;
    background-color: rgb(233, 237, 241);
    text-align: right;
    padding-bottom: 150px;
    border-radius: 100px;
    margin: 20px;
}

#block3 img {
    float: left;
    border-radius: 40px;
    width: 500px;
}

small {
    
}

footer {
    padding: 20px;
    color:#888a8a
}